.home-background {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;

  padding: 0px;
  margin: 20px auto; /* Centers the content horizontally */
}

.home-title {
  font-family: Aboreto;
  font-size: 44px;
  color: #78C5AD;
  font-weight: bold;
  // text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

#slideshow-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.intro-text {
  font-size: 18px;
  color: #333;
  width: 303;
  margin: 8px 20px;
  text-align: left;
}

.divider-icon-leaf {
  position: relative;
  text-align: center;
  width: 24px;
  height: auto;
  top: -1px; /* Adjust this value to fine-tune the position */
}

.home-subtitle {
  font-size: 20px;
  // color: #D9D9D9
  color: #d2b1b1;
  font-weight: 300;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

#slideshow-container {
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  overflow: hidden;
}

#slideshow-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#slideshow-image.fade {
  opacity: 0;
}

.small-image {
  width: 90%;
  height: 90%;
}
