@mixin overlay-big {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 35px;
  font-family: Aboreto;
  font-weight: 900;
}

@mixin overlay-small {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 20px;
  font-family: Aboreto;
}

.home-background {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px;
  margin: 20px auto;
}

.home-title {
  font-family: Aboreto;
  font-size: 44px;
  color: #78C5AD;
  font-weight: bold;
  margin-bottom: 0px;
}

.home-subtitle {
  font-size: 20px;
  color: #808080;
  font-weight: 300;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

.home-page-background-image {
  background-image: url('latest_front_still.png');
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.text-overlay {
  color: white;
  font-family: Aboreto;
}

.text-overlay h1 {
  z-index: 2;
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0px !important;
  font-family: Aboreto;
}

.text-overlay p {
  z-index: 2;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Aboreto;
}

.divider-icon-leaf {
  position: relative;
  text-align: center;
  width: 24px;
  height: auto;
  top: -1px;
}

.overlaying-link-big {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
