@mixin overlay-big {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 35px;
  font-family: Aboreto;
  font-weight: 900;
}

@mixin overlay-small {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 20px;
  font-family: Aboreto;
}

.home-background {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px;
  margin: 20px auto;
}

.home-title {
  font-family: Aboreto;
  font-size: 44px;
  color: #78C5AD;
  font-weight: bold;
  margin-bottom: 0px;
}

.home-subtitle {
  font-size: 20px;
  color: #d2b1b1;
  font-weight: 300;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

#slideshow-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: relative;
}

.home-page-img-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.overlaying-text-big {
  @include overlay-big;
  top: 40%;
}

.overlaying-text-small {
  @include overlay-small;
  top: 45%;
}

.overlaying-text-big-2 {
  @include overlay-big;
  top: 55%;
}

.overlaying-text-small-2{
  @include overlay-small;
  top: 60%;
}

.overlaying-text-big-3 {
  @include overlay-big;
  top: 70%;
}

.overlaying-text-small-3 {
  @include overlay-small;
  top: 75%;
}

.overlaying-text-small-4 {
  @include overlay-small;
  top: 78%;
}

.divider-icon-leaf {
  position: relative;
  text-align: center;
  width: 24px;
  height: auto;
  top: -1px;
}
