<h1>All Recipes</h1>

<!-- filter for all recipes and recipes with user ingredients only-->
<p><%= link_to "All Recipes", recipes_path %></p>
<p><%= link_to "Recipes I can make", recipes_path(available_ingredients_only: true) %></p>

<!-- add images to recipes-->

<ul>
  <% @recipes.each do |recipe| %>
  <li><%= recipe.name %></li>
  <% end %>
</ul>
