<h1>Your Recipe</h1>

<p><strong>Name: </strong><%= @recipe.name %></p>
<p><strong>Cooking time: </strong><%= @recipe.cook_time %></p>
<p><strong>Difficulty: </strong><%= @recipe.difficulty %></p>

<h2><strong>Instructions: </strong><%= @recipe.instructions%></h2>
