<footer class="footer pt-0">
  <div class="flipped-divider">
    <%= render "shared/page_divider"%>
  </div>
  <div class="footer-icons">
    <a href="https://instagram.com" target="_blank" class="footer-icon">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://facebook.com" target="_blank" class="footer-icon">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>
</footer>
