<footer class="footer pt-0">
  <div class="flipped-divider">
    <%= render "shared/page_divider"%>
  </div>
  <div class="footer-icons">
    <a href="https://github.com/elliswhaley" target="_blank" class="footer-icon-1">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://github.com/FergusB00" target="_blank" class="footer-icon-2">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://github.com/jwmoyse" target="_blank" class="footer-icon-3">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://github.com/Genixoxo" target="_blank" class="footer-icon-4">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</footer>
