<div class="d-flex flex-column align-items-center my-0">
  <%= image_tag "divider_icon_leaf.jpg", alt: "Leaf Icon", class: "divider-icon-leaf", style: "width: 24px; height: auto; display: block;"%>
  <hr class="w-100 border-secondary" style="height: 3px; margin: 0;">
</div>
