<div class="d-flex align-items-center justify-content-center my-2">
    <hr class="flex-grow-1 border-secondary">
      <img src="assets/divider_icon_leaf.jpg" alt="Leaf Icon" class="mx-3" style="width: 24px; height: auto;">
    <hr class="flex-grow-1 border-secondary">
</div>
