<div class="home-background text-center">
  <!-- Title -->
  <title class="home-title">Dig In - Save Food And Cash, Cook Like A Pro</title>
  <!-- Subtitle -->
  <p class="home-subtitle">
    <span class="co2">Co<span class="subscript"><sub>2</sub></span></span>ok a Meal. Save the Planet
  </p>
</div>
<!-- Food image / Slideshow experiement -->
<div class="main-pic my-3">
  <div class="row justify-content-center">
    <div class="col-md-0">
      <div id="slideshow-container">
        <img id="slideshow-image" src="<%= asset_path('front_veg_pic_2.jpg', class: 'small-image') %>" alt="Lovely meals" />
      </div>
    </div>
  </div>
</div>
<%= render "shared/page_divider" %>

<!-- Intro Text -->
<div class="intro-text">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="intro-text">
        Hello, welcome to <strong>Dig In!</strong>
      </div>
      <div class="intro-text">
        Your place if you love to cook, and care about Mother Earth.
      </div>
      <div class="intro-text">
        Wondering what to do with bits in your fridge so they don't go to waste, and enjoy a delicious meal at the same time?
      </div>
      <div class="intro-text">
        Dig In has you covered! Log your ingredients, browse recipes tailored for you, select the dish that's caught your eye, and cook!
      </div>
    </div>
  </div>
</div>
