<div class="home-background text-center">
  <!-- Title -->
  <div class="home-title">Dig In</div>
  <!-- Subtitle -->
  <p class="home-subtitle">
    <span class="co2">Co<span class="subscript"><sub>2</sub></span></span>ok a Meal. Save the Planet
  </p>
</div>

<%= render "shared/page_divider" %>

<!-- Food image / Slideshow experiement -->
<div class="home-page-content">
  <div class="home-page-background-image">
    <div class="text-overlay">
      <h1><%= link_to "TRACK", profile_path, class: "overlaying-link-big" %></h1>
      <p>food usage</p>
      <h1><%= link_to "SUGGEST", recipes_path, class: "overlaying-link-big" %></h1>
      <p>recipes</p>
      <h1><%= link_to "REDUCE", profile_path, class: "overlaying-link-big" %></h1>
      <p class="mb-0">spend &</p>
      <p>carbon footprint</p>
    </div>
  </div>
</div>
