<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto">
<!-- Carousel JS script location -->
<script src="app/javascript/controllers/home.js"></script>

<h1>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dig In</title>
</h1>

<body>
  <div class="background">

    <!-- search bar at top -->
    <div class="search-bar">
      <input type="text" placeholder="Search">
    </div>

    <!-- title -->
    <div class="title">DIG IN</div>

    <!-- sub-title -->
    <p class="subtitle">
      <span class="co2">CO<span class="subscript">2</span></span>ok a Meal. Save the Planet
    </p>

    <!-- Bootstrap Carousel Component -->
    <div id="mealCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner" id="carouselItemsContainer">

    <!-- Carousel Items (Images) will be inserted dynamically here -->
    </div>

    <!-- <div class="image-placeholder"></div> -->
    <div class="divider"></div>
    <div class="menu">× Menu</div>
    <div class="intro-text"> Hello! Welcome to Dig In. A place for those who love
    to cook, and care about Mother Earth.

    Wondering what to do with the bits and bops in your fridge so they don’t go to waste, while at the same time be able to enjoy a delicious home-cooked meal? Fridge 2 Fork has you covered! Simply log your ingredients,  browse through the recipes tailored for you, select the recipe that caught your eye, and cook!
  </div>

</body>
</html>
