.btn-position-fixed {
  position: fixed;
  bottom: 20px;
}
.btn-blue {
  padding: 10px 10px;
  color: black !important;
  text-decoration: none;
  background: #B3EDDB !important;
  border-color: #B3EDDB !important;
  border-radius: 30% !important;
  font-family: Aboreto;
}
