.search-bar {
  display: flex;
  align-items: center;
  background-color: #f6f1e9;
  border-radius: 50px;
  padding: 10px 15px;
  width: 100%;
}

.filter-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #c3b3a4;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding: 5px;
  color: #555;
}

.search-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #c3b3a4;
  float: inline-start;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.dropdown-container {
  padding-top: 20px;
  display: inline-block;

}

.dropdown-links {
  list-style: none;
  text-decoration: none;
  padding-left: 0 !important;
}

.dropdown-link {
  padding: 10px 10px;
}

.dropdown-text {
  color: #c3b3a4;
  text-decoration: none;
  font-size: 16px;
  font-family: Aboreto, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    transform: translate3d(-0.5px, 31px, 0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translate3d(-0.5px, 31px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    transform: translate3d(-0.5px, 31px, 0px);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
