.recipe-show {
  font-family: Arial, sans-serif;
  margin: 7%;
  background-color: #DEFFF5;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe-show-header {
  position: relative;
}

.recipe-show-header img {
  width: 100%;
  height: 230px;
  width: 100%;
  object-fit: cover;
  filter:brightness(70%)
}

.recipe-name-overlay-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Aboreto, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 50px 50px 60px rgba(0,0,0,0.2);
}

.back-link {
  color: #D1BFAD;
  margin-left: 8%;
}

.recipe-show-details {
  display: flex;
  padding: 5%;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  justify-content: space-between;
  align-items: center;
}
.cook-outer-circle-show {
  display: inline-block;
  padding: 5px;
  border: 3px solid #B3EDDB;
  border-radius: 36px;
  background-color: white;
  text-align: center;
}
.cook-inner-circle-show {
  display: inline-block;
  padding: 5px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  border: 3px solid #B3EDDB;
  border-radius: 30px;
  background-color: white;
}
.cook-items-button {
  padding: 0px;
  font-family: Aboreto, sans-serif;
  font-size: 15px !important;
  text-align: center;
  color: #000;
}

.recipe-show-info {
  margin-bottom: 5% !important;
}

.recipe-show-ingredients,
.recipe-show-method {
  padding: 15px;
}

.recipe-show-ingredients h2,
.recipe-show-method h2 {
  font-size: 18px;
}

.recipe-show-ingredients ul {
  margin: 0;
  padding-left: 20px;
}

.recipe-show-ingredients li {
  margin-bottom: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.recipe-show-method p {
  margin: 10px 0;
  font-size: 14px;
}

.recipe-show-method strong {
  font-size: 18px;
}

.back-link {
  display: inline-block
}

.individual-ingredient {
  display: flex;
  align-items: center;
}

.individual-ingredient i {
  color: green;
  font-size: 14px;
  margin-bottom: 5px;
}
