.profile-page {
  margin: 0 auto;
  padding: 10px;
  font-family: Aboreto, sans-serif
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-family: Aboreto, sans-serif
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #f8ede3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-left: 0;
}

.profile-picture {
  width: 200px;
  height: 200px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffc6a0;
  border-radius: 10%;
  object-fit: cover;
}

.profile-page-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.per-stat {
  text-align: center;
  padding: 10px;
  background-color: #FDC39F;
  border-radius: 10px;
  width: 100%;
}

.per-stat p {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.per-stat h2 {
  font-size: 24px;
  margin: 5px 0 0;
  font-weight: bold;
}

.divider {
  margin: 20px 0;
  border-top: 3px solid #D1BFAD;
}

.add-items-button {
  background-color: #f7f7f7;
  border: 2px solid #B3EDDB;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-page-ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pp-ingredient-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAE9AD;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pp-ingredient-details {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pp-ingredient-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.pp-ingredient-quantity {
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.pp-ingredient-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.expiry-date {
  margin: 0;
}

.expiry-date i {
  margin-right: 10px;
}

.profile-weight i {
  margin-right: 10px;
}

.pp-ingredient-price-and-delete {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-profile-icons {
  color: #555;
}
