.profile-page {
  margin: 0 auto;
  padding: 10px;
  font-family: Aboreto, sans-serif
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-family: Aboreto, sans-serif
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #f8ede3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px auto;
  max-width: 900px;
}

.stats-sub-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.stat-card.large {
  flex: 1;
  height: 250px;
  background-color: #f7c8a8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.stat-card.small {
  height: 115px;
  background-color: #f7c8a8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.stat-title-large {
  font-family: Aboreto, sans-serif;
  font-size: 20px;
  color: #5a514e;
  margin-bottom: 10px;
}

.stat-value-large {
  font-family: Aboreto, sans-serif;
  font-size: 25px;
  color: #000;
  margin-bottom: 0px;
}

.stat-title {
  font-family: Aboreto, sans-serif;
  font-size: 15px;
  color: #5a514e;
  margin-bottom: 10px;
}

.stat-value {
  font-family: Aboreto, sans-serif;
  font-size: 15px;
  color: #000;
  margin-bottom: 0px;
}

.divider {
  margin: 20px 0;
  border-top: 3px solid #D1BFAD;
}

.add-items-button {
  background-color: #f7f7f7;
  border: 2px solid #B3EDDB;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-page-ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pp-ingredient-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAE9AD;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pp-ingredient-details {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pp-ingredient-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.pp-ingredient-quantity {
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.pp-ingredient-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.expiry-date {
  margin: 0;
}

.expiry-date i {
  margin-right: 10px;
}

.profile-weight i {
  margin-right: 10px;
}

.pp-ingredient-price-and-delete {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-profile-icons {
  color: #555;
}
